<div class="leaderboard-container">
  <app-navbar></app-navbar>
  <div *ngIf="isLoadingResults" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="leaderboard">
    <h1 class="title">Leaderboard</h1>
    <mat-form-field class="search-input" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        name="search"
        ngDefaultControl
        placeholder="username"
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearchChange($event)"
      />
      <mat-icon
        *ngIf="searchValue"
        matSuffix
        aria-label="Clear"
        (click)="searchValue = ''; onSearchChange('')"
        >close</mat-icon
      >
    </mat-form-field>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="table" matSort>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="gamesWon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Games Won</th>
          <td mat-cell *matCellDef="let element">{{ element.gamesWon }}</td>
        </ng-container>

        <ng-container matColumnDef="gamesLost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Games Lost</th>
          <td mat-cell *matCellDef="let element">{{ element.gamesLost }}</td>
        </ng-container>

        <ng-container matColumnDef="totalGames">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Games</th>
          <td mat-cell *matCellDef="let element">{{ element.totalGames }}</td>
        </ng-container>

        <ng-container matColumnDef="winrate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Winrate (%)</th>
          <td mat-cell *matCellDef="let element">{{ element.winrate }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="5"
      aria-label="Select page of leaderboard"
      class="table-wrapper"
    ></mat-paginator>
  </div>
  <app-footer></app-footer>
</div>
