@import "./../../../assets/styles/variables.scss";

.leaderboard-container {

  .leaderboard {
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $off-white;
  }

  h1 {
    margin-top: 100px;
    text-align: center;
    color: $primary-grey;
    margin-bottom: 60px;
  }

  .table-wrapper {
    height: fit-content;
    width: 80%;
  }

  .search-input {
    width: 80%;
  }

}

@media screen and (max-width: 620px) {
  .leaderboard-container {
    .table-wrapper {
      width: 100%;
    }
  }
}