@import "./../../../../assets/styles/variables.scss";

footer {
    padding: 25px 0px;
    background-color: $footer-grey;
    text-align: center;

    p {
      margin: 0;
      color: $white;
    }

    a {
      color: $white;
      text-decoration: none;
      margin: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }