<div class="welcome-container">
  <div class="main-content">
    <div class="left-side">
      <img src="assets/images/wallpaper-welcome.jpeg" alt="Wallpaper" class="wallpaper">
    </div>
    <div class="separator"></div>
    <div class="right-side">
      <header class="header">
        <div class="logo">age guessr.</div>
        <div class="buttons">
          <button mat-flat-button class="btn btn-login" (click)="loginToggle()">Login</button>
          <button mat-flat-button class="btn btn-register" (click)="registerToggle()">Register</button>
        </div>
      </header>
      <div *ngIf="!registerMode && !loginMode" class="content">
        <h1>Welcome to AgeGuessr</h1>
        <h3>YOUR ULTIMATE GAME TO GUESS THE AGE!</h3>
        <p>Think you can guess someone's age just by looking at their picture? Challenge yourself and see how accurate you can be. AgeGuessr brings fun and excitement to your screen, testing your perception skills. Are you ready to play?</p>
        <button mat-flat-button  class="btn btn-getstarted" (click)="registerToggle()">Get Started</button>
      </div>
      <div *ngIf="registerMode && !loginMode" class="content">
        <app-register (cancelRegister)="cancelRegisterMode($any($event))"></app-register>
      </div>
      <div *ngIf="!registerMode && loginMode" class="content">
        <app-login (cancelLogin)="cancelLoginMode($any($event))"></app-login>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>