<mat-toolbar class="navbar">
    <div class="left-side">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToHome()">Home</button>
            <button mat-menu-item (click)="goToLeaderboard()">Leaderboard</button>
            <button mat-menu-item (click)="goToHistory()">History</button>
          </mat-menu>
        <div class="logo">age guessr.</div>
    </div>
    <div class="right-side">
        <button mat-icon-button (click)="openDialog()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>