$primary-red: #ff0000;
$secondary-red: #bb0000;
$flat-red: #ac2e31;
$dark-red: #891e22;
$pastel-red: #ff746c;
$pastel-green: #c1e1c1;
$olive-green: #556b2f;

$primary-grey: #2a2a2a;
$footer-grey: #1f1f1f;

$white: white;
$off-white: #FAF9F6;
$black: black;

$title-font: "Roboto Condensed", sans-serif;
$regular-font: Roboto, "Helvetica Neue", sans-serif;
$logo-font: "Jaro", sans-serif;