<div class="auth-container">
  <button mat-button (click)="goBack()" class="back-button">
    <span class="material-icons">arrow_back</span>
  </button>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="custom-form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="custom-form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <div class="button-container">
      <button mat-flat-button color="primary" type="submit" class="submit-button">
        Login
      </button>
    </div>
  </form>
</div>